<header id="home">
  <div class="canvas" id="particles-js"></div>
  <div class="borda">
    <div class="holder1">
      <h1>Olá! Sou Fabrício Henrique</h1>
      <h2>Mobile Developer</h2>
      <h6>Android | Ionic | PWA | Angular | NodeJs</h6>
    </div>
  </div>

  <nav class="holder">
    <div class="menu">
      <div class="active"><a href="#home">Home</a></div>
      <div><a href="#about">Sobre</a></div>
      <div><a href="#projects">Portifolio</a></div>
      <div><a href="#contact">Contato</a></div>
    </div>
  </nav>
</header>


