<section id="contact">
<div>
  <div class="footer">
      <button mat-raised-button color="primary" (click)="openExternal('linkedin')">
        <i mat-card-avatar class="material-icons"></i>  Linkedin
      </button>
      <button mat-raised-button color="primary" (click)="openExternal('github')">Github</button>
      <button mat-raised-button color="primary" (click)="openExternal('email')">Email </button>
      <button mat-raised-button color="primary" (click)="openExternal('cv')">CV</button>
      <button mat-raised-button color="primary" (click)="openExternal('sourcerer')">Programming Statistics</button>
  </div>
</div>
</section>

