<section id="projects">
  <h2>Projetos</h2>

  <div class="row">
    <button mat-raised-button color="primary"class="col-xs-2 " (click)="showItens('all')">Todos</button>
    <button mat-raised-button color="primary" class="col-xs-2" (click)="showItens('mob')">Mobile</button>
    <button mat-raised-button color="primary" class="col-xs-2" (click)="showItens('frt')">Front-end</button>
    <button mat-raised-button color="primary" class="col-xs-2" (click)="showItens('bck')">Back-end</button>
  </div>

  <div class="projects">
    <div class="borda">
        <mat-card [@projectCardAnimation]="" class="card col-xs-12 col-sm-8 col-md-6 col-lg-4" *ngFor="let project of showRepos | slice:0:10 ; index as i">
            <mat-card-header>
              <mat-card-title>{{ project.name }}</mat-card-title>
            </mat-card-header>
            <i class="material-icons">android</i>
            <mat-card-content>
              <p>{{ project.description }}</p>
            </mat-card-content>

            <mat-card-actions>
              <a href="{{ project.html_url }}"  target="_blank">
                  <button mat-raised-button>CÓD. FONTE</button>
              </a>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
  <button class="lookmore" mat-raised-button color="primary" (click)="showGitHub()">Veja mais</button>

</section >
