<section className="hero is-dark is-fullheight has-bg-image">
    <div className="hero-head">
        
    </div>
    <div className="hero-body">
        <div className="container">
            <p className="subtitle is-5 has-text-weight-light">I'm a</p>
            <h1 className="title">{{Resume.basics.label}}</h1>
            <h2 className="subtitle">{{Resume.basics.location.region}}, {{Resume.basics.location.country}}</h2>
        </div>
    </div>
    <div className="hero-foot" >
        <div className="columns is-mobile">
            <div className="column is-4"></div>
            
            <div className="column is-4"></div>
        </div>
    </div>
</section>